.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(255,255,255,0.3),
        rgba(255,255,255,0.3)
        ), url(https://images.pexels.com/photos/5240541/pexels-photo-5240541.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerBtn{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(62, 139, 101);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.registerLoginBtn{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(95, 72, 228);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}