.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        rgba(255,255,255,0.3),
        rgba(255,255,255,0.3)
        ), url(https://images.pexels.com/photos/51415/pexels-photo-51415.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginBtn{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(95, 72, 228);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.loginBtn:disabled{
    cursor: not-allowed;
    background-color: rgb(221, 43, 73);
}
.loginRegisterBtn{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(62, 139, 101);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}